doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Last Box Standing
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    button#one Make 2 Buttons!
    #container
    //  input.make2Boxes(type='button' value='Make 2 Boxes')
      :w
      input.make2Boxes#newbox(type='button' value='click him>>>')
      input.make2Boxes#newbox(type='button' value='<<<no click him')

      
