doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title demo
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
    body
      h1 Welcome to Nashville's Wind Forcast
      button#getWeather Get weather
      h2#windDescription
      h2#wind_dir
      h2#wind_degrees
      h2#wind_mph
      h2#wind_gust_mph
