doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill yall
    link(rel='stylesheet', href='css/style.css')
    script(src='js/vendor/jquery-1.10.2.js')
    script(src='js/source/main.js')
  body    
    header
      h1 drill 3
      img(src='http://www.wallpapername.com/thumbnails/detail/20121126/streets%20vampires%20sesame%20street%20the%20count%20edward%20cullen%201440x900%20wallpaper_www.wallpapername.com_100.jpg')
    #controls
      input#color(type='text')
      input#add-color(type='button', value='add-color')
    #colors
